{% extends 'template.html.twig' %}
{% block body %}
    <table class="table">
        {% for note in notes %}
        <tr class="table{% if(note>10) %}-success">
            <td>{{ note }}</td>
            <td>
                Passe l'examen
        {% else %}-danger">
                <td>{{ note }}</td>
            <td>
                Echoué
            {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
<div class="alert alert-info">
    <p>nombre des étudiant: {{ notes|length }}</p>
    <p>La meilleur note: {{ max(notes)  }}</p>
    <p>La pire note: {{ min(notes) }}</p>
    <p>La moyenne du class est : {{ min(notes)+max(notes)/2 }}</p>
</div>
{% endblock %}

{% block PageTitle  %}
    Tableau des notes
{% endblock %}
{% block title%}
    Notes
{% endblock %}